BOT_TOKEN=
ADMIN_CHAT_ID=
DATABASE_URL=postgresql://postgres.PROJECT_REF:PASSWORD@aws-0-eu-west-1.pooler.supabase.com:5432/postgres
REQUIRED_CHANNEL=novatunnelch
REQUIRED_INSTAGRAM_URL=https://www.instagram.com/novatunnel
CARD_NUMBER=0000-0000-0000-0000
CARD_HOLDER=NovaTunnel
